<div class="home">
  <div class="img">
    <img
      src="../../../assets/images/home2.jpg"
      alt="loan image"
      height="500px"
      width="80%"
    />
  </div>

  <div class="features">
    <h1 style="color: red">Features We Provide</h1>
    <ul style="color: rgb(93, 1, 82)">
      <li><h2>100% Digital loan</h2></li>
      <li><h2>Quick disbursal</h2></li>
      <li><h2>High loan amount</h2></li>
      <li><h2>Flexible repayment</h2></li>
      <li><h2>Preferred pricing</h2></li>
      <li><h2>Insurance</h2></li>
      <li><h2>Minimal interest rate</h2></li>
    </ul>
  </div>
</div>
