<!-- <p>contact-us works!</p> -->
<div class="contact">
  <div class="text">
    <h2>Need Help??</h2>
    <h2>Get in Touch with LMS Bank</h2>
  </div>

  <div class="boxes">
    <div class="first_box">
      <h3>Raise Service Requests</h3>
      <p>Raise service request to avail various services by us.</p>

      <a href="http://">RAISE SERVICE REQUEST</a>
    </div>

    <div class="second_box">
      <h3>Contact Customer Care</h3>
      <p>
        To contact LMS Bank's Customer Care, use the contact details updated
        here.
      </p>

      <p>
        Please do not use the contact details updated on any other websites as
        it can be fake and may risk your account security.
      </p>

      <a href="http://">CONTACT CUSTOMER CARE</a>
    </div>

    <div class="third_box">
      <h3>Visit Helpdesk</h3>
      <p>
        Visit the helpdesk at any of our branches. Click the links to find the
        nearest branch/ATM.
      </p>

      <a href="http://">BRANCH/ATM/BANKHOME</a><br>
      <a href="">DROPBOX >></a><br>
      <a href="">ATM SHARING >></a>
    </div>
  </div>
  <marquee behavior="alternate" direction="right"> Mandatory Profile password change after 365 days introduced for added security.   |   Call us toll free on 1800 1234 and 1800 2100 and get a wide range of services through LMS Contact Centre.   |   LMS never asks for your Card/PIN/OTP/CVV details on phone, message or email. Please do not click on links received on your email or mobile asking your Bank/Card details.</marquee>
</div>
